        /* Configuração referente a tela em geral */
        body {
            margin: 0;
            padding: 0;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;

            background: #000000; 
            font-family: "Inter", sans-serif;
        }
        
        /* Configuração referente a caixa de login */
        .login-box {
            width: 450px;
            background: #F5F5F5; 
            padding: 45px;
            border-radius: 40px;
            box-shadow: 0 0 35px rgba(255, 230, 0, 0.25);
            text-align: center;
        }

        
        /* Configuração referente ao campo de escrita */
        .input-group {
            margin-bottom: 35px;
            text-align: center;
        }

        /* Configuração referente ao pequeno texto dentro do campo de escrita */
        .input-group label {
            font-size: 14px;
            font-weight: 500;
            color: #333;
            margin-bottom: 5px;
            display: block;
        }

        /* Configuração referente ao click do mouse sobre o campo de escrita */
        .input-group input {
            width: 90%;
            padding: 20px;
            border: 2px solid #DCDCDC;
            border-radius: 12px;
            font-size: 15px;
            outline: none;
            transition: .3s;
        }


        .input-group input:focus {
            border-color: #FFE600;
            box-shadow: 0 0 5px #FFE600;
        }


        /* Configuração referente ao botão de login */
        .btn-login {
            width: 100%;
            padding: 15px;
            background: #FFE600; 
            border: none;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            transition: .3s;
        }

        /* Configuração referente ao mouse sobre ao campo de escrita */
        .btn-login:hover {
            opacity: .8;
        }

        /* Configuração referente ao png da logo */
        .logo {
            height: 200px;
            width: 350px;
            object-fit: contain;

        }

        /* Configuração referente a responsividade */
        @media (max-width: 350px) {
            .login-box {
                padding: 30px 20px;
            }

            .logo {
                max-width: 200px;
            }
        }